.item-left{
    padding-left:100px;
    min-height:102px;
}

.item-left > img:first-child{
    width:80px;
    height:80px;
    position: absolute;
    left: 10px;
    border-radius: 4px;
}
.item > .content{
    border-right: 2px solid #ccc;
}

.item > .content > p{
    font-size: 12px;
    padding: 4px;
    color: #ccc;
}

.item-right{
    padding-right:60px;
    min-height:102px;
}
.item-right > *:last-child{
    position: absolute;
    right:10px;
    top:35px;
}

.item-left > .content > h2, .item-right > h2{
    font-size: 16px;
    padding: 4px;
    font-weight: bold;
}

.item > .content > .font{
    font-size: 12px;
}
.item > .content > .price{
    font-size: 16px;
    font-weight: bold;
}
.item > .content > span{
    color:#e6b400;
}

.item > .content-right{
    font-size: 12px;
    color: #ccc;
    position: absolute;
    right: 70px;
    bottom: 10px;
}

.btn-buy{
    display: block;
    background-color: red;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
}

.bar.bar-stable{
    background-color: #00bd5f;
    color: #fff;
}

.bar.bar-stable .title{
    color:#fff;
    font-weight: bold;
}

.bar-stable .button.button-clear{
    color:#fff;
}
.slider-pager{
    bottom:5px;
}

.button.button-balanced{
    background-color: #00bd5f;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 0;
}
