<ion-view view-title="管理收货地址">
    <ion-content class="main-i-content detail-content" overflow-scroll="false">

        <div class="row" style="border-top:1px solid #ddd; padding:10px;display: block; border-bottom:1px solid #ddd; margin:10px 0; position: relative; background:#f5f5f5; ">
            <h2 style="font-weight:bold;font-size:14px; padding:5px 0; margin:0;">大棉</h2>
            <h2 style="font-weight:bold; font-size:14px; position: absolute; right: 10px; top:5px;">14786694678</h2>
            <p style="margin:0;padding:5px 0;font-size: 12px;  color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄创花园一期二号楼5楼</p>
            <img style="position: absolute; right:0; bottom: 0; width: 40px; height: 40px;" src="images/selected.png"/>
        </div>

        <ion-list>
            <ion-item>
                <h2 style="font-weight:bold;">大棉</h2>
                <h2 style="font-weight:bold;position: absolute; right: 10px; top:15px;">14786694678</h2>
                <p style="padding:5px 0;font-size: 12px;  color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄创花园一期二号楼5楼</p>
            </ion-item>
            <ion-item>
                <h2 style="font-weight:bold;">大棉</h2>
                <h2 style="font-weight:bold;position: absolute; right: 10px; top:15px;">14786694678</h2>
                <p style="padding:5px 0;font-size: 12px;  color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄创花园一期二号楼5楼</p>
            </ion-item>
            <ion-item>
                <h2 style="font-weight:bold;">大棉</h2>
                <h2 style="font-weight:bold;position: absolute; right: 10px; top:15px;">14786694678</h2>
                <p style="padding:5px 0;font-size: 12px;  color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄创花园一期二号楼5楼</p>
            </ion-item>
            <ion-item>
                <h2 style="font-weight:bold;">大棉</h2>
                <h2 style="font-weight:bold;position: absolute; right: 10px; top:15px;">14786694678</h2>
                <p style="padding:5px 0;font-size: 12px;  color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄创花园一期二号楼5楼</p>
            </ion-item>
        </ion-list>

    </ion-content>
    <ion-footer-bar class="bar-stable" style="padding:0;">
        <button class="button button-full button-balanced" style="margin:0;" ng-click="save()">添加新地址</button>
    </ion-footer-bar>
</ion-view>