<ion-view view-title="管理收货地址">
    <ion-content class="main-i-content detail-content" overflow-scroll="false" style="background: #f5f5f5;">
        <div class="list">
            <label class="item item-input"  style="padding:10px;">
                <input type="text" placeholder="收货人姓名">
            </label>
            <label class="item item-input"  style="padding:10px;">
                <input type="text" placeholder="联系电话">
            </label>
            <label class="item item-input"  style="padding:10px;">
                <textarea placeholder="详细地址" style="height:80px;"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable" style="padding:0;">
        <button class="button button-full button-balanced" style="margin:0;" ng-click="order()">添加新地址</button>
    </ion-footer-bar>
</ion-view>