<ion-view view-title="确认订单">
    <ion-content class="main-i-content detail-content" overflow-scroll="false" style="background: #f5f5f5;">
        <div class="padding item item-left">
            <img src="http://localhost/CityCircle/index.php/image/18924f5dbdfdbb13d9b8c8b4f8746d18.jpg"/>
            <div class="content" style="border: 0;">
                <h2>大闸蟹</h2>
                <p>我们周末去爬山吧</p>
                <span class="font">￥</span><span class="price">130</span>
            </div>
            <span class="content-right">已售2000件</span>
        </div>
        <div class="item" style="padding:20px 20px; font-size: 14px; font-weight: bold;">
            购买数量
            <div style="border-radius:2px; top:10px;border:1px solid #ccc; position: absolute; right: 10px;">
                <a style="
                    display: block;
                    float: left;padding: 5px 10px;
                ">-</a>
                <a style="
                    display: block;
                    float: left;padding: 5px; width:40px;
                    border-left: 1px solid #cccccc;
                    text-align: center;
                     border-right: 1px solid #cccccc;
                     color: #ffc900;font-weight: bold;
                     font-size: 16px;
                ">100</a>
                <a style="
                    display: block;
                    float: left;padding: 5px 10px;
                ">+</a>
            </div>
        </div>
        <div class="item" style=" font-size: 14px; font-weight: bold;">
            合计金额
            <div style="top:15px; position: absolute; right: 10px;">
                <span style="color: #ffc900;
                font-size: 12px">￥</span><span style="color: #ffc900;font-weight: bold;
                     font-size: 18px">480</span>
            </div>
        </div>
        <div class="item"  style="padding:20px 40px 20px 20px;" ng-click="address()">
            <span style=" font-size: 16px; font-weight: bold;">收货人：大棉</span>
            <span style="position: absolute; right:40px;  font-size: 16px; font-weight: bold;">14786694678</span>
            <div>
                <p style="padding:5px 0; color:#ccc;text-overflow: initial;
    white-space: initial;"><span style="font-weight:bold; color:#ffc900">[默认地址]</span>上海市长宁区延安西路528弄 创花园一期二号楼5楼</p>
            </div>
            <a class="ion-angle-right" style="    position: absolute; top: 40px; right: 10px;"></a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable" style="padding:0;">
        <button class="button button-full button-balanced" style="margin:0;" ng-click="order()">确认下单</button>
    </ion-footer-bar>
</ion-view>